body{
    background: rgb(234, 204, 104);
    display: flex;
    justify-content: center;
    align-items: center;
}
.element{
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgb(255, 84, 84);
    border-radius: 2px;
}
.container{
    background: rgb(246, 187, 59);
    border-radius: 2px;
    width: 600px;
    height: 600px;
}